/*header*/
.navbar1{
    background-color: $color__coffee;
    
}
.nav__title{
    font-weight: 800;
    font-family: $font1;
    font-size: 35px;
    color: $color_darkcoffee;
}
.navbar__link{
    color: $color_white;
    font-family: $font2;
    font-size: 18px;
}